
.nav-wrapper {
    background-color: #077195;
    color: blue;
}
.container {
    display: flex;
    align-items: flex-end;
    gap: 20px; 
    justify-content: space-between;
  }
  
  .quemsou {
    margin-bottom: 50px;
  }
  
  .text-content {
    display: flex;
    flex-direction: column; 
  }

  .imgperfil {
    width: 200px; 
    height: auto;
    border-radius: 20px; 
    margin-top: 40px;
}

.icon-row {
    display: flex;
    justify-content: space-around; 
    gap: 10px; 
    flex-direction: row;
    text-align: center;  
} 
.card-title {
    background: #077195;
}
#background {
    background-image: url(../img/background2.jpg);
}
p {
    color: white;
}
h3 {
    color: white;
}
.card-content {
    background-color: #077195;
}
.card-action {
    background-color: #077195;
}