
.nav-wrapper {
    background-color: #077195;
    color: blue;
}
.container {
    display: flex;
    align-items: flex-end;
    gap: 20px; 
    justify-content: space-between;
  }
  
  .quemsou {
    margin-bottom: 50px;
  }
  
  .text-content {
    display: flex;
    flex-direction: column; 
  }

  .imgperfil {
    width: 200px; 
    height: auto;
    border-radius: 20px; 
    margin-top: 40px;
}

.icon-row {
    display: flex;
    justify-content: space-around; 
    gap: 10px; 
    flex-direction: row;
    text-align: center;  
} 
.card-title {
    background: #077195;
}
#background {
    background-image: url(../img/background2.jpg);
}
p {
    color: white;
}
h3 {
    color: white;
}
.card-content {
    background-color: #077195;
}
.card-action {
    background-color: #077195;
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .row {
        display: flex;
        flex-direction: column; /* Torna os itens empilhados */
        align-items: center; /* Centraliza os itens */
      }
    #contato {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .icon-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }
    h3 {
        align-items: center;
    }
    #container{
        display: flex;
        flex-direction: column; /* Torna os itens empilhados */
        align-items: center; /* Centraliza os itens */
    }
    #linguagem {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
    }
}